<div>
  <div>
    <h1>
      List of all firms
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new firm
    </h2>

    <form action="/insert_firm" method="post">

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="industry_box">
          Industry
        </label>

        <input type="text" id="industry_box" name="query_industry">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <input type="text" id="notes_box" name="query_notes">
      </div>

      <button>
        Create firm
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Industry
        </th>

        <th>
          Location
        </th>

        <th>
          Notes
        </th>

        <th>
          Jobs count
        </th>

        <th>
          Bookmarks count
        </th>

        <th>
          Employees count
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_firms.each do |a_firm| %>
      <tr>
        <td>
          <%= a_firm.id %>
        </td>

        <td>
          <a href="/firms/<%= a_firm.id %>">
          <%= a_firm.name %>
          </a>
        </td>

        <td>
          <%= a_firm.industry %>
        </td>

        <td>
          <%= a_firm.location %>
        </td>

        <td>
          <%= a_firm.notes %>
        </td>

        <td>
          <%= a_firm.jobs_count %>
        </td>

        <td>
          <%= a_firm.bookmarks_count %>
        </td>

        <td>
          <%= a_firm.employees_count %>
        </td>

        <td>
          <a href="/bookmarks">
            Add Bookmark
          </a>
        </td>

        <td>
          <a href="/employees">
            Add Employee
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
