<div>
  <div>
    <h1>
      List of all firms
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new firm
    </h2>

    <form action="/insert_firm" method="post">

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="industry_box">
          Industry
        </label>

        <input type="text" id="industry_box" name="query_industry">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <label for="notes_box">
          Details
        </label>

        <input type="text" id="notes_box" name="query_notes">
      </div>

      <div>
        <input type="hidden" id="jobs_count_box" name="query_jobs_count">
      </div>

      <div>
        <input type="hidden" id="bookmarks_count_box" name="query_bookmarks_count">
      </div>

      <div>
        <input type="hidden" id="employees_count_box" name="query_employees_count">
      </div>

      <button>
        Create firm
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Industry
        </th>

        <th>
          Location
        </th>

        <th>
          Details
        </th>

<!--

        <th>
          Jobs count
        </th>

-->

        <th>
          Bookmarks
        </th>

        <th>
          Employees
        </th>

      </tr>

      <% @list_of_firms.each do |a_firm| %>
      <tr>
        <td>
          <%= a_firm.id %>
        </td>

        <td>
          <a href="/firms/<%= a_firm.id %>">
          <%= a_firm.name %>
          </a>
        </td>

        <td>
          <%= a_firm.industry %>
        </td>

        <td>
          <%= a_firm.location %>
        </td>

        <td>
          <%= a_firm.notes %>
        </td>

        <!--

        <td>
          <%= a_firm.jobs_count %>
        </td>

-->

        <td>
          <%= a_firm.bookmarks_count %>
        </td>

        <td>
          <%= a_firm.employees_count %>
        </td>

   


        <td>

    <% if (Bookmark.where( :firm_id => a_firm.id, :user_id => @current_user.id)).count == 0 %>

          <form action="/insert_bookmark" method="post">
            <div>
              <input type=hidden id="firm_id_box" name="query_firm_id" value= <%=a_firm.id%>>
            </div>

            <div>
              <input type = hidden id="user_id_box" name="query_user_id" value= "<%= @current_user.id%>">
            </div>

            <button>
              Add to My Companies
            </button>
          </form>

    <% else %>

              <a href="/bookmarks/<%=(Bookmark.where( :firm_id => a_firm.id, :user_id => @current_user.id)).first.id%>"> 

                View My Company

              </a>
    <% end %>



        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
