<div>
  <div>
    <h1>
      <%= @the_firm.name %>
    </h1>

    <div>
      <div>
        <a href="/firms">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_firm/<%= @the_firm.id %>">
          Delete firm
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Industry
      </dt>
      <dd>
        <%= @the_firm.industry %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_firm.location %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_firm.notes %>
      </dd>

      <dt>
        Jobs count
      </dt>
      <dd>
        <%= @the_firm.jobs_count %>
      </dd>

      <dt>
        Bookmarks count
      </dt>
      <dd>
        <%= @the_firm.bookmarks_count %>
      </dd>

      <dt>
        Employees count
      </dt>
      <dd>
        <%= @the_firm.employees_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_firm.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_firm.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit firm
    </h2>

    <form action="/modify_firm/<%= @the_firm.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_firm.name %>">
      </div>

      <div>
        <label for="industry_box">
          Industry
        </label>

        <input type="text" id="industry_box" name="query_industry" value="<%= @the_firm.industry %>">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" value="<%= @the_firm.location %>">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <input type="text" id="notes_box" name="query_notes" value="<%= @the_firm.notes %>">
      </div>

      <button>
        Update firm
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Firm
        </th>

        <th>
          Role
        </th>

        <th>
          Notes
        </th>

        <th>
          Alumni
        </th>

        <th>
          Linkedin
        </th>

        <th>
          Email
        </th>

        <th>
          Connections count
        </th>

        <th>
        </th>
      </tr>

      <% @the_firm.employees.each do |an_employee| %>
      <tr>
        <td>
          <%= an_employee.id %>
        </td>

        <td>
          <a href="/employees/<%= an_employee.id %>">
            <%= an_employee.first_name %> <%= an_employee.last_name %>
           </a> 
        </td>

        <td>
          <%= an_employee.firm.name %>
        </td>

        <td>
          <%= an_employee.role %>
        </td>

        <td>
          <%= an_employee.notes %>
        </td>

        <td>
          <%= an_employee.alumni %>
        </td>

        <td>
          <%= an_employee.linkedin %>
        </td>

        <td>
          <%= an_employee.email %>
        </td>

        <td>
          <%= an_employee.connections_count %>
        </td>

        <td>
          <a href="/contacts">
            Add as Contact
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>