<div>
  <div>
    <h1>
      My Company: <%= @the_bookmark.firm.name %>
    </h1>


    <dl>
      <dt>
        Industry
      </dt>
      <dd>
        <%= @the_bookmark.firm.industry %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_bookmark.firm.location %>
      </dd>

      <dt>
        Jobs count
      </dt>
      <dd>
        <%= @the_bookmark.firm.jobs_count %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_bookmark.notes %>
      </dd>

    </dl>
  </div>
</div>



<hr>


<div>
  <div>

    <form action="/modify_bookmark/<%= @the_bookmark.id %>"  method="post" >
      <div>
        <input type="hidden" id="firm_id_box" name="query_firm_id" value="<%= @the_bookmark.firm_id %>">
      </div>

      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @the_bookmark.user_id %>">
      </div>

      <div>
        <label for="notes_box">
          <b>Update Notes</b>
        </label>

        <div>

        <input type="text" id="notes_box" name="query_notes" value="<%= @the_bookmark.notes %>">
      

        <button>
          Update
        </button>
        </div>
      </div>
    </form>

    <p></p>


    <div>
      <!--<div>
        <a href="/bookmarks">
          Go back
        </a>
      </div>-->

      <div>
        <a href="/delete_bookmark/<%= @the_bookmark.id %>">
          Delete bookmark
        </a>
      </div>
    </div>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Contacts
    </h2>
  
              <form action="/insert_contact" method="post">
                <div>
                  <label for="employee_id_box">
                    Employee
                  </label>

                  <select id="employee_id_box" name="query_employee_id">
                    <% @list_of_employees.each do |an_employee| %>
                      <option value = <%=an_employee.id%>><%=an_employee.first_name%> <%=an_employee.last_name%></option>
                    <%end%>
                  </select>

                  <input type = hidden id="user_id_box" name="query_user_id" value= <%= @current_user.id%>>

                  <input type="hidden" id="bookmark_id_box" name="query_bookmark_id" 
                    value=<%= @the_bookmark.id%>>

                <button>
                  Add Contact
                </button>
                </div>
              </form>

    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Employee
        </th>

        <th>
          Name
        </th>

        <th>
          Firm
        </th>

        <th>
          Role
        </th>

        <th>
          Alumni
        </th>

        <th>
          Linkedin
        </th>

        <th>
          Email
        </th>
        
        <th>
          Notes
        </th>

        <th>
          Relationship
        </th>

        <th>
          Last outgoing comm
        </th>

        <th>
          Last incoming comm
        </th>

        <th>
          Followup date
        </th>

        <th>
          Communications count
        </th>

        <th>
          Advocates count
        </th>

        <th>
        </th>
      </tr>


    <% @list_of_contacts.each do |a_contact| %>
      <tr>

        <td>
          <%= a_contact.id %>
        </td>

        <td>
          <%= a_contact.user_id %>
        </td>

        <td>
          <%= a_contact.employee_id %>
        </td>

        <td>
          <a href="/employees/<%= a_contact.employee.id %>">
            <%= a_contact.employee.first_name %> <%= a_contact.employee.last_name %>
           </a> 
        </td>

        <td>
          <a href="/firms/<%= a_contact.employee.firm.id %>">
            <%= a_contact.employee.firm.name %>
          </a>
        </td>

        <td>
          <%= a_contact.employee.role %>
        </td>

        <td>
          <%= a_contact.employee.alumni %>
        </td>

        <td>
          <%= a_contact.employee.linkedin %>
        </td>

        <td>
          <%= a_contact.employee.email %>
        </td>

        <td>
          <%= a_contact.notes %>
        </td>

        <td>
          <%= a_contact.relationship %>
        </td>

        <td>
          <%= a_contact.last_outgoing_comm %>
        </td>

        <td>
          <%= a_contact.last_incoming_comm %>
        </td>

        <td>
          <%= a_contact.followup_date %>
        </td>

        <td>
          <%= a_contact.communications_count %>
        </td>

        <td>
          <%= a_contact.advocates_count %>
        </td>

        <td>
          <a href="/contacts/<%= a_contact.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
<div>
  <div>
    <h2>
      Jobs
    </h2>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Firm
        </th>

        <th>
          Role
        </th>

        <th>
          Location
        </th>

        <th>
          Notes
        </th>

        <th>
          Application deadline
        </th>

        <th>
          Applied
        </th>

        <th>
          Application date
        </th>

        <th>
          Application status
        </th>

        <th>
          Application mode
        </th>

        <th>
          Application outcome
        </th>

        <th>
          Application next steps
        </th>

        <th>
          User
        </th>

        <th>
          Communications count
        </th>

        <th>
          Advocates count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @the_bookmark.firm.jobs.each do |a_job| %>
      <tr>
        <td>
          <%= a_job.id %>
        </td>

        <td>
          <%= a_job.firm_id %>
        </td>

        <td>
          <%= a_job.role %>
        </td>

        <td>
          <%= a_job.location %>
        </td>

        <td>
          <%= a_job.notes %>
        </td>

        <td>
          <%= a_job.application_deadline %>
        </td>

        <td>
          <%= a_job.applied %>
        </td>

        <td>
          <%= a_job.application_date %>
        </td>

        <td>
          <%= a_job.application_status %>
        </td>

        <td>
          <%= a_job.application_mode %>
        </td>

        <td>
          <%= a_job.application_outcome %>
        </td>

        <td>
          <%= a_job.application_next_steps %>
        </td>

        <td>
          <%= a_job.user_id %>
        </td>

        <td>
          <%= a_job.communications_count %>
        </td>

        <td>
          <%= a_job.advocates_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_job.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_job.updated_at) %> ago
        </td>

        <td>
          <a href="/jobs/<%= a_job.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
