<div>
  <div>
    <h1>
      My Company: <%= @the_bookmark.firm.name %>
    </h1>

    <div>
      <div>
        <a href="/bookmarks">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_bookmark/<%= @the_bookmark.id %>">
          Delete bookmark
        </a>
      </div>
    </div>

    <dl>

    <dl>
      <dt>
        Industry
      </dt>
      <dd>
        <%= @the_bookmark.firm.industry %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_bookmark.firm.location %>
      </dd>

      <dt>
        Jobs count
      </dt>
      <dd>
        <%= @the_bookmark.firm.jobs_count %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_bookmark.notes %>
      </dd>

    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit bookmark
    </h2>

    <form action="/modify_bookmark/<%= @the_bookmark.id %>"  method="post" >
      <div>
        <label for="firm_id_box">
          Firm
        </label>

        <input type="text" id="firm_id_box" name="query_firm_id" value="<%= @the_bookmark.firm_id %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_bookmark.user_id %>">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <input type="text" id="notes_box" name="query_notes" value="<%= @the_bookmark.notes %>">
      </div>

      <button>
        Update bookmark
      </button>
    </form>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Employee
        </th>

        <th>
          Name
        </th>

        <th>
          Firm
        </th>

        <th>
          Role
        </th>

        <th>
          Alumni
        </th>

        <th>
          Linkedin
        </th>

        <th>
          Email
        </th>
        
        <th>
          Notes
        </th>

        <th>
          Relationship
        </th>

        <th>
          Last outgoing comm
        </th>

        <th>
          Last incoming comm
        </th>

        <th>
          Followup date
        </th>

        <th>
          Communications count
        </th>

        <th>
          Advocates count
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_contacts.each do |a_contact| %>
      <tr>

        <td>
          <%= a_contact.id %>
        </td>

        <td>
          <%= a_contact.user_id %>
        </td>

        <td>
          <%= a_contact.employee_id %>
        </td>

        <td>
          <a href="/employees/<%= a_contact.employee.id %>">
            <%= a_contact.employee.first_name %> <%= a_contact.employee.last_name %>
           </a> 
        </td>

        <td>
          <a href="/firms/<%= a_contact.employee.firm.id %>">
            <%= a_contact.employee.firm.name %>
          </a>
        </td>

        <td>
          <%= a_contact.employee.role %>
        </td>

        <td>
          <%= a_contact.employee.alumni %>
        </td>

        <td>
          <%= a_contact.employee.linkedin %>
        </td>

        <td>
          <%= a_contact.employee.email %>
        </td>

        <td>
          <%= a_contact.notes %>
        </td>

        <td>
          <%= a_contact.relationship %>
        </td>

        <td>
          <%= a_contact.last_outgoing_comm %>
        </td>

        <td>
          <%= a_contact.last_incoming_comm %>
        </td>

        <td>
          <%= a_contact.followup_date %>
        </td>

        <td>
          <%= a_contact.communications_count %>
        </td>

        <td>
          <%= a_contact.advocates_count %>
        </td>

        <td>
          <a href="/contacts/<%= a_contact.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
