<div>
  <div>
    <h1>
      My Jobs
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h3>
      Add a new job 
    </h3>
    <em>Firm must already be added to My Companies</em>

<p></p>

    <form action="/insert_job" method="post">
      <div>

        <input type = hidden id="user_id_box" name="query_user_id" value= <%= @current_user.id%>>

        <input type = hidden id="firm_id_box" name="query_firm_id" value= "x">

        <label for="bookmark_id_box">
          My Company*
        </label>

        <select id="bookmark_id_box" name="query_bookmark_id">
          <% @list_of_bookmarks.each do |a_bookmark| %>
            <option value = <%=a_bookmark.id%>><%=a_bookmark.firm.name%></option>
          <%end%>
        </select>
      </div>

      <div>
        <label for="role_box">
          Role*
        </label>

        <input type="text" id="role_box" name="query_role">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <input type="text" id="website_box" name="query_website">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <input type="text" id="notes_box" name="query_notes">
      </div>

      <div>
        <label for="application_deadline_box">
          Application deadline*
        </label>

        <input type="date" id="application_deadline_box" name="query_application_deadline">
      </div>

      <button>
        Create job
      </button>
    </form>
  </div>
</div>

<hr>

<h3>Jobs: To Apply</h3>

<div>
  <div>
    <table>
      <tr>

        <th>
          My Company
        </th>

        <th>
          Role
        </th>

        <th>
          Location
        </th>

        <th>
          Notes
        </th>

        <th>
          Application deadline
        </th>

        <th>
          Date applied
        </th>

        <th>
          App status
        </th>

        <th>
          Next steps
        </th>

      </tr>

      <% @list_of_jobs.each do |a_job| %>
      <tr>
        <td>
          <a href="/bookmarks/<%=a_job.bookmark_id%>"> 
            <%= a_job.firm.name %>
          </a>
        </td>

        <td>
          <a href="/jobs/<%=a_job.id%>%">
          <%= a_job.role %>
          </a>
        </td>

        <td>
          <%= a_job.location %>
        </td>

        <td>
          <%= a_job.notes %>
        </td>

        <td>
          <%= a_job.application_deadline %>
        </td>

        <td>
          <%= a_job.application_date %>
        </td>

        <td>
          <%= a_job.application_status %>
        </td>

        <td>
          <%= a_job.application_next_steps %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<h3>Jobs: Applied </h3>

<div>
  <div>
    <table>
      <tr>

        <th>
          My Company
        </th>

        <th>
          Role
        </th>

        <th>
          Location
        </th>

        <th>
          Notes
        </th>

        <th>
          Application deadline
        </th>

        <th>
          Date applied
        </th>

        <th>
          App status
        </th>

        <th>
          Next steps
        </th>

      </tr>

      <% @list_of_jobs_applied.each do |a_job| %>
      <tr>
        <td>
          <a href="/bookmarks/<%=a_job.bookmark_id%>"> 
            <%= a_job.firm.name %>
          </a>
        </td>

        <td>
          <a href="/jobs/<%=a_job.id%>%">
          <%= a_job.role %>
          </a>
        </td>

        <td>
          <%= a_job.location %>
        </td>

        <td>
          <%= a_job.notes %>
        </td>

        <td>
          <%= a_job.application_deadline %>
        </td>

        <td>
          <%= a_job.application_date %>
        </td>

        <td>
          <%= a_job.application_status %>
        </td>

        <td>
          <%= a_job.application_next_steps %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<h3>Jobs: Expired </h3>

<div>
  <div>
    <table>
      <tr>

        <th>
          My Company
        </th>

        <th>
          Role
        </th>

        <th>
          Location
        </th>

        <th>
          Notes
        </th>

        <th>
          Application deadline
        </th>

        <th>
          Date applied
        </th>

        <th>
          App status
        </th>

        <th>
          Next steps
        </th>

      </tr>

      <% @list_of_jobs_old.each do |a_job| %>
      <tr>
        <td>
          <a href="/bookmarks/<%=a_job.bookmark_id%>"> 
            <%= a_job.firm.name %>
          </a>
        </td>

        <td>
          <a href="/jobs/<%=a_job.id%>%">
          <%= a_job.role %>
          </a>
        </td>

        <td>
          <%= a_job.location %>
        </td>

        <td>
          <%= a_job.notes %>
        </td>

        <td>
          <%= a_job.application_deadline %>
        </td>

        <td>
          <%= a_job.application_date %>
        </td>

        <td>
          <%= a_job.application_status %>
        </td>

        <td>
          <%= a_job.application_next_steps %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
