<div>
  <div>
    <h1>
      My Jobs: <%= @the_job.role %> at <%= @the_job.firm.name %>
    </h1>

    <dl>
      <dt>
        Firm
      </dt>
      <dd>
        <a href= "/bookmarks/<%=@the_job.bookmark_id%>">
          <%= @the_job.firm.name %>
        </a>
      </dd>

      <dt>
        Role
      </dt>
      <dd>
        <%= @the_job.role %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_job.location %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_job.notes %>
      </dd>

      <dt>
        Application deadline
      </dt>
      <dd>
        <%= @the_job.application_deadline %>
      </dd>

      <dt>
        Date applied
      </dt>
      <dd>
        <%= @the_job.application_date %>
      </dd>

      <dt>
        Application status
      </dt>
      <dd>
        <%= @the_job.application_status %>
      </dd>

      <dt>
        Application next steps
      </dt>
      <dd>
        <%= @the_job.application_next_steps %>
      </dd>

    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit job
    </h2>

    <form action="/modify_job/<%= @the_job.id %>"  method="post" >

      <div>
        <label for="role_box">
          Role
        </label>

        <input type="text" id="role_box" name="query_role" value="<%= @the_job.role %>">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" value="<%= @the_job.location %>">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <input type="text" id="notes_box" name="query_notes" value="<%= @the_job.notes %>">
      </div>

      <div>
        <label for="application_deadline_box">
          Application deadline
        </label>

        <input type="date" id="application_deadline_box" name="query_application_deadline" value="<%= @the_job.application_deadline %>">
      </div>

      <div>
        <label for="application_date_box">
          Date applied
        </label>

        <input type="date" id="application_date_box" name="query_application_date" value="<%= @the_job.application_date %>">
      </div>

      <div>
        <label for="application_status_box">
          Application status
        </label>

        <input type="text" id="application_status_box" name="query_application_status" value="<%= @the_job.application_status %>">
      </div>

      <div>
        <label for="application_next_steps_box">
          Application next steps
        </label>

        <input type="text" id="application_next_steps_box" name="query_application_next_steps" value="<%= @the_job.application_next_steps %>">
      </div>

      <button>
        Update job
      </button>
    </form>
  </div>
</div>

<p></p>

    <div>
       <div>
        <a href="/delete_job/<%= @the_job.id %>">
          Delete job
        </a>
      </div>

      <div>
        <a href="/jobs">
          View all jobs
        </a>
      </div>
    </div>

<hr>

