<div>
  <div>
    <h1>
      My Contact: <%= @the_contact.employee.first_name %> <%= @the_contact.employee.last_name %>
    </h1>


    <a href="/employees/<%=@the_contact.employee_id%>"> 
      View Employee Master
    </a>
    
    <p></p>
 

    <dl>
      <dt>
        Firm
      </dt>

      <dd>
        <a href="/bookmarks/<%= @the_contact.bookmark.id %>">
          <%= @the_contact.firm.name %>
        </a>
      </dd>

      <dt>
        Role
      </dt>
      <dd>
        <%= @the_contact.employee.role %>
      </dd>

      <dt>
        Alumni
      </dt>
      <dd>
        <%= @the_contact.employee.alumni %>
      </dd>

      <dt>
        Linkedin link
      </dt>
      <dd>
        <a href="http://<%= @the_contact.employee.linkedin %>" target="_blank">
        <%= @the_contact.employee.linkedin %>
        </a>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @the_contact.employee.email %>
      </dd>

      <dt>
        Relationship
      </dt>
      <dd>
        <%= @the_contact.relationship %>
      </dd>

      <dt>
        Followup date
      </dt>
      <dd>
        <%= @the_contact.followup_date %>
      </dd>     
      
      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_contact.notes %>
      </dd> 

<!--
      <dt>
        Outgoing comms
      </dt>
      <dd>
        <%= @the_contact.outgoing_comms %>
      </dd>

      <dt>
        Incoming comms
      </dt>
      <dd>
        <%= @the_contact.incoming_comms %>
      </dd>

      <dt>
        Last outgoing comm
      </dt>
      <dd>
        <%= @the_contact.last_outgoing_comm %>
      </dd>

      <dt>
        Last incoming comm
      </dt>
      <dd>
        <%= @the_contact.last_incoming_comm %>
      </dd>

      <dt>
        Communications count
      </dt>
      <dd>
        <%= @the_contact.communications_count %>
      </dd>

      <dt>
        Advocates count
      </dt>
      <dd>
        <%= @the_contact.advocates_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_contact.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_contact.updated_at) %> ago
      </dd>
-->
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit contact
    </h2>

    <form action="/modify_contact/<%= @the_contact.id %>"  method="post" >

      <div>
        <label for="relationship_box">
          Relationship
        </label>

        <input type="text" id="relationship_box" name="query_relationship" value="<%= @the_contact.relationship %>">
      </div>

      <div>
        <label for="followup_date_box">
          Followup date
        </label>

        <input type="date" id="followup_date_box" name="query_followup_date" value="<%= @the_contact.followup_date %>">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea rows=2 cols=50 type="text" id="notes_box" name="query_notes">
          <%=@the_contact.notes%>
        </textarea>
      </div>

      <button>
        Update contact
      </button>
    </form>
  </div>
</div>

<p></p>

    <div>

      <div>
        <a href="/delete_contact/<%= @the_contact.id %>">
          Delete contact
        </a>
      </div>

      <div>
        <a href="/contacts">
         View all my contacts
        </a>
      </div>

    </div>
    
<hr>