<div>
  <div>
    <h2>
      My Companies
    </h2>
  </div>
</div>


<div>
First five <a href="/bookmarks/">View All/Create New</a>
</div>

<p></p>

<div>
  <div>
    <table>
      <tr>
        <th>
          Name
        </th>

        <th>
          Industry
        </th>

        <th>
          Location
        </th>

        <th>
          Notes
        </th>

        <th>
          My Contacts
        </th>

        <th>
          My Jobs
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_bookmarks[0..4].each do |a_firm| %>
      <tr>
        <td>
          <a href="/bookmarks/<%= a_firm.id %>">
          <%= a_firm.firm.name %>
          </a>
        </td>

        <td>
          <%= a_firm.firm.industry %>
        </td>

        <td>
          <%= a_firm.firm.location %>
        </td>

        <td>
          <%= a_firm.notes %>
        </td>

        <td>
          <%= Contact.where( :bookmark_id => a_firm.id, :user_id => @current_user.id).count %>

        </td>

        <td>
          <%= Job.where( :bookmark_id => a_firm.id, :user_id => @current_user.id).count %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      My Contacts
    </h2>
  </div>
</div>

<div>
<a href="/contacts/">View All</a> <em>(create new contacts off My Company record)</em>
</div>

<p></p>

<div>
  <div>
    <table>
      <tr>
        <th>
          Name
        </th>

        <th>
          My Company
        </th>

        <th>
          Role
        </th>

        <th>
          Email
        </th>

        <th>
          Relationship
        </th>

        <th>
          Notes
        </th>

        <th>
          Followup date
        </th>

        <th>
        </th>

      </tr>

      <% @list_of_contacts[0..4].each do |a_contact| %>
      <tr>

        <td>
          <a href="/contacts/<%= a_contact.id %>">
            <%= a_contact.employee.first_name %> <%= a_contact.employee.last_name %>
           </a> 
        </td>

        <td>
          <a href="/bookmarks/<%= a_contact.bookmark_id %>">
            <%= a_contact.employee.firm.name %>
          </a>
        </td>

        <td>
          <%= a_contact.employee.role %>
        </td>

        <td>
          <%= a_contact.employee.email %>
        </td>

        <td>
          <%= a_contact.relationship %>
        </td>

        <td>
          <%= a_contact.notes %>
        </td>


        <td>
          <%= a_contact.followup_date %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      My Jobs
    </h2>
  </div>
</div>

<div>
<a href="/jobs/">View All/Create New</a>
</div>

<p></p>

<div>
  <div>
    <table>
      <tr>

        <th>
          My Company
        </th>

        <th>
          Role
        </th>

        <th>
          Location
        </th>

        <th>
          Notes
        </th>

        <th>
          Application deadline
        </th>

        <th>
          Date applied
        </th>

        <th>
          App status
        </th>

        <th>
          Next steps
        </th>

      </tr>

      <% @list_of_jobs[0..4].each do |a_job| %>
      <tr>
        <td>
          <a href="/bookmarks/<%=a_job.bookmark_id%>"> 
            <%= a_job.firm.name %>
          </a>
        </td>

        <td>
          <a href="/jobs/<%=a_job.id%>%">
          <%= a_job.role %>
          </a>
        </td>

        <td>
          <%= a_job.location %>
        </td>

        <td>
          <%= a_job.notes %>
        </td>

        <td>
          <%= a_job.application_deadline %>
        </td>

        <td>
          <%= a_job.application_date %>
        </td>

        <td>
          <%= a_job.application_status %>
        </td>

        <td>
          <%= a_job.application_next_steps %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
